body {
    font-family: Arial, sans-serif;
    background-color: lightskyblue;
}
section{
    display: flex;
    justify-content: space-evenly;

}

table {
    display: flex;
    text-align: center;
    border-collapse: collapse;
    background-color: lightgray;

}

th,td {
    border: 1px solid black;
    text-align: center;
    padding: 8px;
    margin: 10px;
    background-color: transparent;
}
tr{
    background-color: wheat;
}

tr:nth-child(even) {
    background-color:white;
}

#student-form{
    text-align: center;

}
label{
    margin-right: 150px;
    font-style: italic;
    
}
input{
    border-radius: 10px;
}
#reg{
    background-color: grey;
    color:2px solid black;
}
h1{
    color: blue;
    text-align: center;
    font-style: oblique;
}