body {
    font-family: Arial, sans-serif;
    background-color: lightslategray;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1,
h2 {
    color: rgb(34, 103, 125);
    text-align: center;
}

form {
    display: grid;
    gap: 10px;
    margin-bottom: 20px;
}

label {
    margin-bottom: 5px;
}

input {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    body {
        font-family: Arial, sans-serif;
        background-color: #f0f0f0;
        padding: 10px 15px;
        font-size: 1em;
        background-color: #7c77da;
        color: white;
        border-radius: 5px;
        cursor: pointer;
    }
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1,
h2 {
    text-align: center;
}

form {
    display: grid;
    gap: 10px;
    margin-bottom: 20px;
}

label {
    margin-bottom: 5px;
}

input {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #f2e9e9;
    border-radius: 5px;
}

button {
    padding: 10px 15px;
    font-size: 1em;
    background-color: rgb(134, 134, 222);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #7da5dc;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #cbacac;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}